name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest] # macos-latest, ubuntu-latest,
    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js 14.x
        uses: actions/setup-node@v3
        with:
          node-version: 14.x
          cache: "yarn"

      - name: Use node cache
        uses: actions/cache@v3
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Install npm dependencies
        run: |
          npm install -g yarn
          yarn install

      - name: Install Ubuntu dependencies
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          sudo apt update -y
          sudo apt install libwebkit2gtk-4.0-dev libdbus-1-dev pkg-config libgtk-3-dev libsoup2.4-dev \
              build-essential curl wget libsasl2-dev libayatana-appindicator3-dev librsvg2-dev

      - name: Install Win dependencies
        if: ${{ matrix.os == 'windows-latest' }}
        shell: pwsh
        run: .\scripts\install-openssl.ps1

      - run: yarn lint

      - name: Cargo Cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            src-tauri/target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Artifacts cache
        uses: actions/cache@v3
        with:
          path: src-tauri/target/release/bundle/*
          key: ${{ matrix.os }}-artifacts #todo: hash of something that changes with versions

      - name: Build artifact
        run: yarn tauri build

      - uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.os }}-artifacts
          path: src-tauri/target/release/bundle/*
          retention-days: 5

  release:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js 14.x
        uses: actions/setup-node@v3
        with:
          node-version: 14.x
          cache: "yarn"

      - name: Use node cache
        uses: actions/cache@v3
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Install npm dependencies
        run: |
          npm install -g yarn
          yarn install

      - name: Use ubuntu artifacts cache
        uses: actions/cache@v3
        with:
          path: src-tauri/target/release/bundle/*
          key: ubuntu-latest-artifacts #todo: hash of something that changes with versions

      - name: Use mac os artifacts cache
        uses: actions/cache@v3
        with:
          path: src-tauri/target/release/bundle/*
          key: macos-latest-artifacts #todo: hash of something that changes with versions

      # - name: Use win artifacts cache
      #   uses: actions/cache@v3
      #   with:
      #     path: src-tauri/target/release/bundle/*
      #     key: windows-latest-artifacts #todo: hash of something that changes with versions

      - name: Semantic release
        if: github.ref == 'refs/heads/main'
        run: yarn release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
